[Unit]
Description=I2c monitor OLED service
After=multi-user.target
[Service]
WorkingDirectory=/home/pi/RPI-Adafruit_ssd1306-monitor-python/
User=pi
Type=simple
Restart=always
ExecStart=python3 OledMon.py

[Install]
WantedBy=multi-user.target
